$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: $color-dark-blue

$color-dark-blue: #0d0c68
$color-light-blue: #6262f9
$color-electric-blue: #22e1ea
$color-orange: #ff6902
$color-pink: #ff2347
$color-grey: #DFE0E7
 
$color-accent: $color-light-blue
$color-text: #1E1E1E
$color-text-alt: #454545
$color-border: #1E1E1E
$color-background-alt: #FFFFFF
$color-background: #fcf8dc
$color-dark-background: #1E1E1E
